{
    admin off
}

import snippets/*

{$CADDY_HOSTNAME} {
    import strip-www
    import common
    import cache
    import security
    import ssl
    import not-found

    root * /var/www/html/public

    import php-fastcgi
}
