import snippets/*

:80 {
    handle /healthcheck {
        respond "OK" 200
    }
}

{$CADDY_HOSTNAME} {
    import remove_www
    import unauthorized
    import not_found
    import common
    import cors_preflight
    import php_fastcgi

    root * /var/www/html/public
}
